body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.58);
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
}
